<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Team Builder</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
    <div class="container">
        <h1 class="title">Pokemon Team Builder</h1>

        <div class="buttons">
            <form action="/add" method="POST">
                <select name="pokemon" id="pokemonSelect">
                <% if (names.length > 0) { %>
                    <% names.forEach(function(name) { %>
                    <option value="<%= capitalise(name) %>"><%= capitalise(name) %></option>
                    <% }) %>
                <% } else { %>
                    <option disabled>No names available</option>
                <% } %>
                </select>
                <button class="btn-submit" type="submit">Add Pokemon</button>
            </form>

            <form action="/clear" method="POST" style="margin-top: 10px;">
                <button class="btn-delete" type="submit">Clear All</button>
            </form>
        </div>

        <%function capitalise(text) {return text ? text.charAt(0).toUpperCase() + text.slice(1) : '';}%>

        <div class="pokemon-container">
            <% cards.forEach(function(card, index) { %>
                <div class="pokemon-card">
                    <h2><%= capitalise(card.name) %></h2>
                    <div>
                        <div class="type type-<%= card.type %>"><%= capitalise(card.type) %></div>
                        <% if (card.type2) { %> 
                            <div class="type type-<%= card.type2 %>"><%= capitalise(card.type2) %></div> 
                        <% } %>
                    </div>
                    <div>
                        <img src="<%= card.sprite %>" alt="<%= card.name %>">
                    </div>
                    <form action="/clear-self" method="POST" style="margin-top: 10px;">
                        <input type="hidden" name="index" value="<%= index %>">
                        <button class="btn-delete" type="submit">X</button>
                    </form>
                </div>
            <% }) %>
        </div>
</body>
</html>